@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Grechen+Fuemen';
}



header{
    display: grid;
    place-items: center;
    height: 15vh;
    background: black;
    color: white;
    text-shadow: 0 0 13px white;
}

h1{
    margin:0;
    padding: 0;
}

main{
    display: grid;
    place-items: center;
    background: darkslategray;
    height: 80vh;
}

#activity{
    width: 80vw;
    height:60vh;
    border: 1px solid white;
    background: lightgray;
    border-radius: 1rem;
    box-shadow: 0 0 12px 6px gray;
    padding: 4rem;
}

#button{

}

footer{
    height: 8vh;
    display: grid;
    place-items: center;
}