@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Grechen+Fuemen';
}



header{
    display: grid;
    place-items: center;
    height: 12vh;
    background: black;
    color: red;
    text-shadow: 0 0 20px lightskyblue;
}

h1{
    margin:0;
    padding: 0;
}

main{
    display: grid;
    place-items: center;
    background: darkslateblue;
    height: 80vh;
}

#activity{
    width: 25vw;
    height:40vh;
    border: 1px solid white;
    background: darkturquoise;
    border-radius: 1rem;
    box-shadow: 0 0 12px 6px gold;
    padding: 4rem;
}

#button{

}

footer{
    height: 10vh;
    display: grid;
    place-items: center;
}